# replace localhost with your hostname

localhost:80 {
    # tls ssl@host.domain.com
    encode gzip

    root * /app
    file_server *

    # @ipfilter {
    #     not remote_ip 127.0.0.1 127.0.0.2
    # }
    # respond @ipfilter 403

    @blocked {
	path /cache /cache/* /.htaccess /config.php
    }
    respond @blocked 403

    php_fastcgi phpfpm:9000
    log {
        output stdout
        format transform "{common_log}"
    }

    # errors visible
    # errors stderr

    # header Strict-Transport-Security max-age=31536000;
}
